<div class="row row-eq-height">
    <div class="col-md-8">
        <div class="box box-info">
            <div class="box-header with-border">
                  <h1>Wiki</h1>
            </div>
            <div class="box-body">
                <div class="row">
					<div class="col-md-12">
						<p>
							Wiki Angular est un projet scolaire dévellopé par Kévin Loiseleur, Alexandre Simonin, Mathieu Rodrigues et Robin Bailleux
						</p>
						<p>
							La partie fonctionnelle de ce projet repose sur une API dévellopée avec le framework Symfony. La partie front quant à elle
							est dévellopée grâce à la technologie Angular.
						</p>	
						<hr/>
						<ul>
							<li><a href="https://github.com/Striptik/wiki"><i class="fa fa-github"></i>Wiki Symfony</a></li>
							<li><a href="https://github.com/RBailleux/wikiAngular"><i class="fa fa-github"></i>Wiki Angular</a></li>
						</ul>				
					</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box box-info">
            <div class="box-header with-border">
                  <h3>ECV Digital</h3>
            </div>
            <div class="box-body">
                <div class="row">
					<div class="col-md-12">
						<img src="http://www.ismailhamila.com/img/svg/ECV-Digital.svg" alt="Logo école ECV Digital">
					</div>
                </div>
            </div>
        </div>
        
    </div>
</div>