<div class="row" ng-if="!errors">
    <div class="col-md-12">
    	<ol class="breadcrumb">
		    <li><a href="#"><i class="fa fa-home"></i> <span>Accueil</span></a></li>
		    <li><a href="#!/page/{{ctrl.slug}}">{{ctrl.pageTitle}}</a></li>
		    <li class="active">Édition</li>
		</ol>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">
                    {{ctrl.pageTitle}}
                </h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12" ng-if="isUserLogged">
                        <form ng-controller="PageEditController" name="wikiSubmit" novalidate>
		                    <div class="form-group">
		                        <textarea class="form-control" ui-tinymce="editorOptions" ng-model="initialContent" required></textarea>
		                    </div>
		                    <button type="submit" value="SUBMIT" class="btn btn-primary" ng-click="postData(wikiSubmit)">Soumettre</button>
			             </form>
                    </div>
                    <div class="col-md-12" ng-if="!isUserLogged">
                    	<p>Vous ne pouvez pas éditer cette page</p>
                    	<a href="#!/login">Connectez-vous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>