<div class="row">
    <div class="col-md-12">
    	<ol class="breadcrumb">
		    <li><a href="#"><i class="fa fa-home"></i> <span>Accueil</span></a></li>
		    <li class="active">Page - 
		    	<span ng-if="wikiExists">{{ctrl.title}}</span>
		    	<span ng-if="!wikiExists">Non trouvée</span>
		    </li>
		  </ol>
        <div class="box box-info">
            <div class="box-header with-border">
                  <h3 ng-if="!wikiNotNew">{{ctrl.title}}</h3>
            </div>
            <div class="box-body">
                <div class="row">
					<div class="col-md-12" ng-if="wikiExists && wikiNotNew">
						<h1>{{ctrl.title}}</h1>
                        <div ng-bind-html="content"></div>
					</div>
					<div class="col-md-12" ng-if="!wikiExists">
						<h1>Ce Wiki n'existe pas</h1>
						<a ng-if="!isUserLogged" href="#!/login">Contribuer !</a>
						<a ng-if="isUserLogged" href="#!/page/new">Contribuer !</a>
					</div>
                </div>
            </div>
        </div>
        
    </div>
</div>