<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Recherche</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" ng-controller="SearchController" name="searchSubmit" novalidate>
                <div class="alert alert-danger" ng-show="errors">{{errorsMsg}}</div>
              <div class="box-body">
                <div class="form-group">
                  <label for="keywords" class="col-sm-2 control-label">Mots clef</label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="keywords" placeholder="Mots clef" ng-model="keyWords" required>
                  </div>
                </div>
                
                <div class="form-group">
                	<div class="col-sm-10 col-sm-offset-2">
                		<button type="submit" value="SUBMIT" class="btn btn-info" ng-click="postData(searchSubmit)">Rechercher</button>
                	</div>
                </div>
                
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
              	<ul ng-repeat="r in result">
              		<li><a href="#!/page/{{r.slug}}">{{r.title}}</a></li>
              	</ul>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
        
    </div>
</div>